
$brand-blue:#2F6DB2;
$text-dark:#1E1E20;

.pageWrapper {
   margin-bottom: 50px;
    padding: clamp(16px, 4vw, 32px) 80px;
    font-family: "Montserrat", sans-serif;
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: #1a1a1a;
  
    @media (max-width: 1280px) {
      padding: clamp(16px, 4vw, 32px) 40px;
    }
    @media (max-width: 1024px) {
      padding: clamp(16px, 4vw, 32px) 40px;
    }
    @media (max-width: 768px) {
      padding: clamp(16px, 4vw, 32px) 20px;
    }
    @media (max-width: 576px) {
      padding: clamp(12px, 4vw, 16px) 15px;
    }
  }



  .cardsRow {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 75px; 
  
    @media (max-width: 768px) {
      gap: 21px; 
    }
  }
  
  
  .productCard {
    background: #ffffff;
    border-radius: 10px;
    padding: 20px;
    border: 1px solid $brand-blue;
    max-width: 374px;   
    flex: 1;
  
    @media (max-width: 768px) {
      max-width: 100%; 
    }
  }

/* ✅ Blue background for second card */
.productCard:nth-child(2) {
    background: $brand-blue;
    border-color: $brand-blue;
  
    .cardTitle {
      color: #ffffff;
    }
  
    .checkList li {
      color: #ffffff;
    }
  }

.cardTitle {
  font-size: 24px;
  color: $brand-blue;
  margin-top: 12px;
  font-weight: 700;
  text-transform: uppercase;
}

.checkList {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 10px;

  li {
    display: flex;
    align-items: flex-start;
    gap: 10px;
    font-weight: 500;
    font-size: 18px;
    color: $text-dark;
    line-height: 20px;
  }
}

.checkIcon {
    flex: 0 0 auto;
  width: 20px;
  height: 20px;
  display: inline-block;
 
}
