.visionMissionSection {
  position: relative;
  width: 100%;
  padding: 40px 20px;
  overflow: hidden;
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
}

.bgWrap {
  position: absolute;
  inset: 0;
  z-index: 0;
}

.overlay {
  position: absolute;
  inset: 0;
  background-color: rgba(220, 240, 253, 0.85);
  z-index: 1;
}

.container {
  position: relative;
  z-index: 2;
  margin: 0 auto;
  display: flex;
  gap: 28px;
  align-items: flex-start;
  justify-content: space-between;
  text-align: center;
  padding: 8px 16px;
  box-sizing: border-box;
}

.column {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 8px 10px;
  box-sizing: border-box;
}

.iconWrap {
  margin-bottom: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  font-weight: 700;
  font-size: 38px;
  line-height: 30px;
  margin: 8px 0 12px;
  color: #000000;
}

.description {
  padding-top: 20px;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  max-width: 450px;
  margin: 0;
  color: #000000;
}

.points {
  list-style: disc;
  padding-left: 20px;
  margin: 0;
  max-width: 420px;
  text-align: left;
  padding-top: 20px;
}

.points li {
  margin-bottom: 12px;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
}

.divider {
  width: 1px;
  height: 200px;
  background-color: #2f6db2;
  align-self:center;
}


/* Tablet */
@media (max-width: 992px) {
  .title {
    font-size: 32px;
  }

  .description,
  .points li {
    font-size: 16px;
  }

  .divider {
    height: 180px;
  }
}

/* Mobile (stack layout) */
@media (max-width: 768px) {
  .container {
    flex-direction: column;
    gap: 32px;
  }

  .divider {
    width: 300px;
    height: 1px;
    background-color: #2f6db2;
  }

  .points {
    text-align: center;
    padding-left: 0;
  }

  .points li {
    text-align: start;
  }

  .description {
    text-align: center;
  }
}

/* Very Small Mobile */
@media (max-width: 480px) {
  .title {
    font-size: 26px;
  }

  .description,
  .points li {
    font-size: 15px;
  }

  .divider {
    width: 200px;
  }
}