.shell {
  width: 100%;
}

.content {
  margin-top: -36px;
  position: relative;
  z-index: 1;

  @media (max-width: 768px) {
    margin-top: -24px;
  }

  @media (max-width: 576px) {
    margin-top: -16px;
  }
}
