.feedback-esg-section {
  width: 100%;
  padding: 50px 80px;
  @media (max-width:1280px) {
    padding: 50px 20px;
  }
  .feedback-content {
    background: #eaffd8;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 20px 60px 20px;
    h2,
    h6 {
      margin: 0px;
      padding: 0px;
      text-align: center;
    }
    h2 {
      font-family: Montserrat;
      font-weight: 600;
      font-style: SemiBold;
      font-size: 40px;
      line-height: auto;
      letter-spacing: 0%;
      color: #1e1e20;
    }
    h6 {
      font-family: Montserrat;
      font-weight: 400;
      font-style: Regular;
      font-size: 18px;
      line-height: auto;
      letter-spacing: 0%;
      color: #1e1e20;
      margin-top: 16px;
    }
    .all-email-cards {
      display: flex;
      gap: 200px;
      margin-top: 50px;
      .email-card {
        text-align: left;
        h4,
        p {
          margin: 0px;
          padding: 0px;
        }
        h4 {
          font-family: Montserrat;
          font-weight: 600;
          font-style: SemiBold;
          font-size: 24px;
          line-height: auto;
          letter-spacing: 0%;
          color: #1e1e20;
        }
        p {
          font-family: Montserrat;
          font-weight: 400;
          font-style: Regular;
          font-size: 16px;
          line-height: auto;
          letter-spacing: 0%;
          color: #1e1e20;
          margin-top: 14px;
        }
        .icon-email {
          display: flex;
          align-items: center;
          gap: 10px;
          margin-top: 14px;
          h5 {
            font-family: Montserrat;
            font-weight: 700;
            font-style: Bold;
            font-size: 18px;
            line-height: auto;
            letter-spacing: 0%;
            text-align: center;
            text-decoration: underline;
            text-decoration-style: solid;
            text-decoration-thickness: 0%;
            text-decoration-skip-ink: auto;
            color: #2f6db2;
            cursor: pointer;
            margin: 0px;
            padding: 0px;
          }
        }
      }
    }
  }
}
@media (max-width:768px) {
.feedback-esg-section {
  padding: 30px 20px;
  .feedback-content {
    padding: 40px 10px;
    h2 {
      font-size: 24px;
    }
    h6 {
      font-size: 16px;
      margin-top: 16px;
    }
    .all-email-cards {
      gap: 80px;
      margin-top: 30px;
      @media (max-width:620px) {
        flex-direction: column;
        gap: 40px;
      }
      .email-card {
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        h4 {
          font-size: 20px;
        }
        p {
          font-size: 14px;
        }
        .icon-email {
          h5 {
            font-size: 16px;
          }
        }
      }
    }
  }
}
}