.dropdown-container-box {
  position: absolute;
  top: 0px;
  z-index: 2000;
  margin-left: 15px;
  .dropdownWrapper {
    width: 1000px;
    .leftMenu {
      list-style: none;
      width: 254px;
      background: #696c6e;
      margin: 0;
      padding: 6px 0;
      margin-top: 27px;
      li {
        position: relative;
        padding: 6px 12px;
        cursor: pointer;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-family: Montserrat;
        font-weight: 500;
        font-size: 14px;
        color: #f9f9f9;
        .rightMenu {
          position: absolute;
          top: 10px;
          left: 100%;
          background: #696c6e;
          list-style: none;
          width: 267px;
          display: block;
          margin-left: 15px;
          padding: 10px 0px;
          z-index: 9999;
          li {
            padding: 0;
            margin: 0;
            a {
              display: block;
              margin: 0;
              padding: 6px 0px 6px 12px;
              font-family: Montserrat;
              font-weight: 500;
              font-size: 14px;
              color: #f9f9f9;
              // white-space: nowrap;
            }
          }
        }
        &:hover .rightMenu {
          display: block;
        }
      }
    }
  }
}
