.ourBrandsSwiper {
  margin-top: 30px;
  padding-bottom: 60px;

  .swiper-wrapper {
    align-items: stretch;

    .swiper-slide {
      height: auto;
    }
  }

  /* Scrollbar track */
  :global(.swiper-scrollbar) {
    background: #cccccc;
    height: 2px;
    border-radius: 4px;
  }

  /* Scrollbar thumb */
  :global(.swiper-scrollbar-drag) {
    background: #2f6db2;
    border-radius: 4px;
  }

  /* Local scrollbar */
  &.swiper-horizontal > .swiper-scrollbar {
    width: calc(100% - 8 * var(--swiper-scrollbar-sides-offset, 1%)) !important;
    margin: auto;
    left: 0 !important;
    right: 0;
    bottom: var(--swiper-scrollbar-bottom, 12px);
  }

  /* Global horizontal scrollbar */
  :global(.swiper-scrollbar.swiper-scrollbar-horizontal) {
    width: calc(100% - 8 * var(--swiper-scrollbar-sides-offset, 1%)) !important;
    margin: auto;
    left: 0 !important;
    right: 0;
    bottom: var(--swiper-scrollbar-bottom, 12px);
  }

  /* Hide default arrows */
  :global(.swiper-button-prev),
  :global(.swiper-button-next) {
    display: none !important;
  }
}

.ourBrandsSection {
  // margin: 20px 0;
  padding: 30px 80px;
  background: #e9e9e9;

  h4,
  p {
    margin: 0;
  }

  h4 {
    font-family: Montserrat;
    font-weight: 700;
    font-size: 45px;
    line-height: 55px;
    letter-spacing: 0%;
    color: #1e1e20;
  }

  p {
    font-family: Montserrat;
    font-weight: 500;
    font-size: 17px;
    leading-trim: NONE;
    line-height: 28px;
    letter-spacing: -2%;
    color: #1e1e20;
    margin-top: 10px;
    width: 100%;
  }

  .brandCard {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    cursor: pointer;
    background: #f7f7f7;
    padding: 25px;
    border-radius: 12px;
    height: 323px !important;
    width: 100%;

    .brandImg {
      width: 212px;
      height: 80px;
      margin-bottom: 20px;
      object-fit: contain;
    }

    h6 {
      font-family: Montserrat;
      font-weight: 600;
      font-size: 17px;
      line-height: 20px;
      letter-spacing: 0%;
      color: #1e1e20;
      margin: 0;
    }

    p {
      font-family: Montserrat;
      font-weight: 500;
      font-size: 15px;
      line-height: 26px;
      letter-spacing: -2%;
      color: #1e1e20;
      width: 100% !important;
      margin: 0;
      margin-top: 15px;
    }
  }

  .swiperWrapperCustom {
    position: relative;
    display: flex;
    align-items: center;

    .customArrow {
      background: none;
      border: none;
      color: #b3b3b3;
      font-size: 20px;
      cursor: pointer;
      position: absolute;
      bottom: 0;
      z-index: 10;

      &.left {
        left: 0;
      }

      &.right {
        right: 0;
      }
    }
  }
}

/* Media Queries */
@media (max-width: 1280px) {
  .ourBrandsSection {
    // margin: 15px 0;
    padding: 25px 40px 25px 40px;
    p {
      width: 80%;
    }
    .brandCard {
      height: 350px !important;
    }
  }
}
@media (max-width: 1200px) {
  .ourBrandsSwiper.swiper-horizontal > .swiper-scrollbar {
    width: calc(100% - 9 * var(--swiper-scrollbar-sides-offset, 1%)) !important;
  }

  .ourBrandsSwiper :global(.swiper-scrollbar.swiper-scrollbar-horizontal) {
    width: calc(100% - 9 * var(--swiper-scrollbar-sides-offset, 1%)) !important;
  }
}

@media (max-width: 992px) {
  .ourBrandsSection .brandCard {
    box-sizing: border-box;
  }
  .ourBrandsSwiper.swiper-horizontal > .swiper-scrollbar {
    width: calc(
      100% - 11 * var(--swiper-scrollbar-sides-offset, 1%)
    ) !important;
  }

  .ourBrandsSwiper :global(.swiper-scrollbar.swiper-scrollbar-horizontal) {
    width: calc(
      100% - 11 * var(--swiper-scrollbar-sides-offset, 1%)
    ) !important;
  }
}

@media (max-width: 768px) {
  .ourBrandsSwiper.swiper-horizontal > .swiper-scrollbar {
    display: none;
  }

  .ourBrandsSwiper :global(.swiper-scrollbar.swiper-scrollbar-horizontal) {
    display: none;
  }

  .swiperWrapperCustom .customArrow {
    display: none;
  }

  .ourBrandsSection {
    padding: 20px 15px;

    h4 {
      font-size: 24px;
      line-height: 29px;
    }

    p {
      font-size: 14px;
      line-height: 21px;
      margin-top: 10px;
      width: 100%;
    }

    .brandCard {
      padding: 15px 5px 15px 15px;
      height: 261px !important;
      width: 289px;

      .brandImg {
        width: 195px;
        height: 69px;
        margin-bottom: 20px;
      }

      h6 {
        font-size: 16px;
        text-align: left !important;
      }

      p {
        font-size: 14px;
        line-height: 20px;
        margin-top: 10px;
      }
    }
  }

  .ourBrandsSwiper {
    padding-bottom: 10px;
  }
}

@media (max-width: 576px) {
  .ourBrandsSection {
    // margin: 15px 0;
    padding: 25px 0px 25px 20px;
  }

  .ourBrandsSwiper {
    padding-bottom: 0px;
  }
}
